.footer__link {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
  }

  .footer__link:hover {
    transition: 0.3s linear 0.1s;
    opacity: 50%;
  }